<div class="manu">
    <ul class="nav justify-content-center">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link manuitem" routerLinkActive="active" routerLink="/home"><span class="oi oi-audio-spectrum"></span>守望者</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle manuitem" routerLink="/home" id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">书城</a>
            <div class="dropdown-menu" aria-labelledby="dLabel">
                <a class="dropdown-item" routerLink="/home">近代</a>
                <a class="dropdown-item" routerLink="/home">现代</a>
                <a class="dropdown-item" routerLink="/home">外文</a>
            </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link manuitem" routerLinkActive="active" routerLink="/home">博客</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle manuitem" routerLink="/home" id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户</a>
            <div class="dropdown-menu" aria-labelledby="dLabel">
                <a class="dropdown-item" routerLink="/home">博客</a>
                <a class="dropdown-item" routerLink="/home">博客</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/home">博客</a>
                <a class="dropdown-item" routerLink="/home">博客</a>
            </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link manuitem" routerLinkActive="active" routerLink="/home">登录/注册</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>
